<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>

<div class="page-content">
    <h1 class="page-title">Posts</h1>
    <div><!--      Page       -->
        <% postList.results.forEach(function(post) { %>
            <div class="post">

                <div>
                    <h2 class="fade-in"><%= post.message %></h2>
                </div>

                <div>
                    <img src="<%= post.imageUrl %>" class="hero-image" alt="Post image">

                    <p>post by: <strong><%= post.postedBy.username %></strong> on
                        <small> <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></small>
                    </p>

                    <form action="/posts/<%= post.id %>/like/" method="post">
                        <button id="likey" type="submit" class="fa fa-thumbs-o-up"></button>
                    </form>
                </div>

                <!--      Likes       -->
                <div>
                    <p>
                        <strong> liked by: </strong>
                        <%= post.likedBy.map(user => user.username).concat(" , ") %>
                    </p>
                </div>

                <!--     Trolls       -->
                <div>
                    <p>
                        <strong> Dis-liked by: </strong>
                        <% post.dislikedBy.forEach(function(user) { %>
                    <ul>
                        <li>
                            <%= user.username %>
                        </li>
                    </ul>
                    <% }); %>
                    </p>
                </div>

                <%= post.userId %>
            </div>
            <hr class="solid">
        <% }); %>
    </div>

    <div><!--      bottom Nav       -->
        <% if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
        <% if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
    </div>
</div>


</body>
<%- include('_footer') -%>
</html>