<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>

<h1>Posts</h1>
<div>
    <% postList.results.forEach(function(post) { %>

        <div class="post">
            
            <h2><%= post.message %></h2>
            <p>Posted by: <strong><%= post.postedBy.username %></strong> on
                <small> <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></small></p>

            <div class="picture-frame">

                <img src="<%= post.imageUrl %>" class="hero-image" alt="Post image">
                    
                <form id="likey" action="/posts/<%= post.id %>/like/" method="post">
                    <button id="likeyButton" type="submit" class="fa fa-thumbs-o-up"></button>
                </form>
                    
            </div>


            <div class="likesanddislikes">
                <div class="dropdown"><!--      Likes       -->
                    <p>Likes</p>
                    <p>
                        <ul class ="dropdown-content">
                            <% post.likedBy.forEach(function(user) { %>
                                <li>
                                    <%= user.username %>
                                </li>
                            <% }); %>
                        </ul>
                    </p>
                </div>
    
                <div class="dropdown"><!--      Dislikes       -->
                    <p>Dislikes<p>
                    
                        <ul class ="dropdown-content">
                            <% post.dislikedBy.forEach(function(user) { %>
                                <li>
                                    <%= user.username %>
                                </li>
                            <% }); %>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    <% }); %>
</div>

<div><!--      bottom Nav       -->
    <% if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
    <% } %>
    <% if (postList.previous) { %>
        <a href="<%= postList.previous %>">Previous</a>
    <% } %>
</div>
</body>
<%- include('_footer') -%>

<%- include('_footer') -%>
</html>