<html lang="en-gb">
    <%- include('_head') -%>
    <%- include('_header') -%>
    <body>
    <div style='background-image:url("<%= coverImageUrl %>");' class="user-details">
        
        <div class="transparent-box">
            
            <img src="<%= profileImageUrl %>" id="profile-picture">
            
            <div>
                <h1><%= name %></h1>

                <p>
                    <%= username %> <br>
                    <%= email %>
                </p>
                
            </div>

        </div>
    </div>

    </body>
    <%- include('_footer') -%>
</html>
